{% extends "base.html" %}

{% block title %}
	<title>Blog - Category {{ data.slug }}</title>
{% endblock %}

{% block content %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{{ url_for('index') }}">Home</a>
			</li>
			<li class="breadcrumb-item">
				<a href="{{ url_for('categories') }}">Categories</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">{{ data.slug }}</li>
		</ol>
	</nav>
	<h1>{{ data.title }}</h1>
	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-5">
		{% for post in data.posts %}
		<div class="col">
			<div class="card">
				{% if post.path_img %}
					<img src="{{ url_for('static', filename = post.path_img) }}" class="card-img-top" alt="Image post">
				{% endif %}
				<div class="card-body">
					<h5 class="card-title">{{ post.title }}</h5>
					<p class="card-text">{{ post.text }}</p>
					<a href="{{ url_for('postDetail', id = post.id) }}" class="btn btn-primary">Read</a>
					<p class="card-text mt-2">
						<small class="text-muted">{{ post.pub_date }}</small>
					</p>
					<a href="{{ url_for('categoryDetail', slug = post.category.slug) }}">{{ post.category.title }}</a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
{% endblock %}