{% extends "base.html" %}

{% block title %}
<title>Blog</title>
{% endblock %}

{% block content %}
<h1>Blog</h1>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-5">
	{% for post in data.posts %}
		<div class="col">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">{{ post.title }}</h5>
					<p class="card-text">{{ post.text }}</p>
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		</div>
	{% endfor %}
</div>
{% endblock %}
