{% extends "base.html" %}

{% block title %}
	<title>Blog - {{ data.post.title }}</title>
{% endblock %}

{% block content %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{{ url_for('index') }}">Home</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">{{ data.post.title }}</li>
		</ol>
	</nav>
	<h1 class="mt-5">{{ data.post.title }}</h1>
	{{ data.post.text }}
	<div class="mt-4">
		<a href="{{ url_for('categoryDetail', slug = data.post.category.slug) }}">{{ data.post.category.title }}</a>
	</div>
{% endblock %}